/* ============================== FOOTER ============================== */
/* ============================== FOOTER ============================== */

.footer {
  background: rgba(171, 130, 97, 1);
  padding: 60px 0px 67px 0px;
  color: var(--general-bg);
}

.footer__inner {
  display: grid;
  grid-template-columns: .9fr .9fr 1.1fr auto;
  gap: 40px 15px;
}

.footer__col:first-child {
  margin-top: -30px;
}

.footer__logo {
  display: block;
  max-width: 240px;
}

.footer__logo img {
  width: 100%;
}

.footer__logo-text {
  margin-bottom: 20px;
}

.footer__col-list {
  margin-top: -5px;
}

.footer__col-item {
  margin-bottom: 10px;
}

.footer__col-item:last-child {
  margin-bottom: 0px;
}

.footer__col-link {
  padding: 5px 0;
  position: relative;
  z-index: 1;
  transition: var(--transition);
}

.footer__col-link::before {
  content: '';
  position: absolute;
  top: -11px;
  left: -13px;
  width: 34px;
  height: 34px;
  background: var(--accent-color);
  border-radius: 40px;
  z-index: -1;
  opacity: 0;
  transition: all .5s;
}

.footer__col-link:hover::before {
  opacity: 1;
}

.footer__contact-item {
  margin-bottom: 10px;
}

.footer__contact-item:last-child {
  margin-bottom: 0px;
}

.footer__col-tel {
  margin-bottom: 47px;
}

.footer__col-number {
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
  transition: var(--transition);
}

.footer__col-number:hover {
  color: var(--accent-color);
}

.footer__col-copyright {
  color: rgba(222, 197, 177, 1);
}

.socials {
  line-height: 0;
}

.socials__list {
  display: flex;
  gap: 15px;
}

.socials__link path {
  transition: var(--transition);
}

.socials__link:hover path {
  fill: var(--accent-color);
}