@font-face {
    font-family: 'Avenir Next Cyr';
    src: local('AvenirNextCyr-Medium'),
        url('../fonts/AvenirNextCyr-Medium.woff2') format('woff2'),
        url('../fonts/AvenirNextCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: local('AvenirNextCyr-Regular'),
        url('../fonts/AvenirNextCyr-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNextCyr-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: local('AvenirNextCyr-Bold'),
        url('../fonts/AvenirNextCyr-Bold.woff2') format('woff2'),
        url('../fonts/AvenirNextCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}