/* ============================== FOOTER ============================== */
/* ============================== FOOTER ============================== */

.footer {
  padding: 65px 0px 60px;
  background: linear-gradient(313deg, #022335 0%, #043a41 100%);
  position: relative;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__cols {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__cols-contacts {
  display: flex;
  gap: 35px;
}

.footer_cols-email {
  display: flex;
  gap: 15px;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  transition: all .4s;
}

.footer_cols-email:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4abcec;
}

.footer__cols-number {
  display: flex;
  gap: 15px;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  transition: all .4s;
}

.footer__cols-number:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4abcec;
}

.footer__socials {
  display: flex;
  gap: 25px;
  justify-content: end;
  align-items: center;
}

.footer__socials-text {
  margin-right: 10px;
  font-weight: 600;
  font-size: 10px;
  line-height: 210%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #747d81;
}

.footer__developed {
  margin-top: 75px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
}

.footer__developed-text {
  font-weight: 600;
  font-size: 10px;
  line-height: 210%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #747d81;
}

.footer__copyright {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: -65px;
}

.footer__copyright-line1,
.footer__copyright-line2 {
  align-self: center;
}

.footer__copyright-text {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  background: linear-gradient(180deg, #fff 65.96%, rgba(105, 104, 104, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}