/* ============================== ROOT ============================== */
/* ============================== ROOT ============================== */



/* ============================== GLOBAL ============================== */
/* ============================== GLOBAL ============================== */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5vw;
}

.body {
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  font-family: "Avenir Next Cyr";
  background: linear-gradient(-47.00deg, rgba(1.77083420753479, 34.63749313354492, 53.125, 1), rgba(4.050780296325684, 57.52109909057617, 64.8125, 1) 100%);
  font-size: 15px;
  font-style: normal;
}

.body--opened-modal {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0 auto;
  height: 100%;
}

.main__about {
  padding: 125px 0px 110px;
}

.main_ai {
  padding: 125px 0px 110px;
}

.main__important {
  padding: 125px 0px 110px;
}

.main__why-us {
  padding: 125px 0px 110px;
}

.main__program {
  padding: 125px 0px 110px;
}

.main__author {
  padding: 125px 0px 0px;
}

.main__ad {
  padding: 125px 0px 110px;
}

.main__vacancies{
  padding: 125px 0px 110px;
}

.horizontal-line {
  border: none;
  height: 2px;
  background: linear-gradient(180.00deg, rgba(3.1874969005584717, 224.78253173828125, 255, 0.66), rgba(18.797393798828125, 205.0625, 193.8865966796875, 1) 100%);
  box-shadow: 0px 3px 15px 0px rgba(0, 224, 255, 0.93), 0px 4px 15px 0px rgba(74, 217, 236, 1), 0px 0px 24px 0px rgba(0, 224, 255, 1);
  filter: blur(2px);
}

.button {
  border-radius: 9px;
  background: linear-gradient(180.00deg, rgba(3.1874969005584717, 224.78253173828125, 255, 0.66), rgba(18.797393798828125, 205.0625, 193.8865966796875, 1) 100%);
  box-shadow: 0px 7px 20px -7px rgba(0, 224, 255, 1);
  padding: 24px 26px 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 3.5px;
  text-align: center;
  text-transform: uppercase;
  max-width: 484px;
  text-align: center;
  max-height: 60px;
  transition: all .6s;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 7px 30px -5px rgba(0, 224, 255, 1);
}

/* ============================== MODAL ============================== */
/* ============================== MODAL ============================== */

.modal {
  position: fixed;
  inset: 0;
  background: #00000071;
  padding: 10px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
}


.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  border-radius: 20px;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.53);
  background: linear-gradient(-47.00deg, rgba(2.9395830631256104, 57.49823760986328, 88.1875, 1), rgba(15.007811546325684, 107.45594787597656, 120.0625, 1) 100%);
  padding: 33px 28px 40px;
  position: relative;
  max-width: 400px;
}

.modal__cancel {
  position: absolute;
  right: 12px;
  top: 15px;
  opacity: 0.5;
  transition: all .4s;
  pointer-events: auto
}

.modal__cancel:hover {
  opacity: 1;
}


.modal__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.modal__title span {
  color: rgba(0, 224, 255, 1);
}

.modal__text {
  color: rgba(0, 224, 255, 1);
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 10%;
  margin-bottom: 10px;
}

.modal__form-button {
  width: 100%;
}

/* ============================== FIELD ============================== */
/* ============================== FIELD ============================== */

input {
  color: white;
}

.field {
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.field_input {
  display: block;
  width: 100%;
  padding: 21px 16px 21px 21px;
  font-size: 16px;
  border-radius: 10px;
  position: relative;
  transition: all .4s;
  background: linear-gradient(180.00deg, rgba(0, 224.4000244140625, 255, 0.11), rgba(0, 224.4000244140625, 255, 0.05) 100%);
}

.field::before {
  content: '';
  position: absolute;
  background: linear-gradient(180deg,
      rgba(0, 224, 255, 0.12) 0%,
      rgba(0, 224, 255, 0.08) 25%,
      rgba(0, 224, 255, 0.04) 50%,
      rgba(0, 224, 255, 0.02) 75%,
      rgba(0, 224, 255, 0.01) 100%);
  border-radius: 10px;
  inset: 0;
  border: 2px solid rgba(0, 224.4, 255, 0.15);
}

.field_input:hover {
  padding: 27px 16px 15px 21px;
}

.field_input::placeholder {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 10%;
}

.field_input:hover::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.field_input:focus::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.field_input:focus {
  padding: 27px 16px 15px 21px;
}

/* ============================== FOOTER__UP ============================== */
/* ============================== FOOTER__UP ============================== */

.footer__up {
  display: flex;
  flex-direction: column;
  max-width: 139px;
  gap: 85px;
  align-items: center;
  position: absolute;
  bottom: 235px;
  left: 100px;
}
.footer__up-button {
  flex-shrink: 0;
  border-radius: 50%;
  background: var(--general-bg);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  pointer-events: auto
}

.footer__up-button img {
  z-index: 3;
  transform: rotate(-90deg);
  height: 15px;

}
.footer__up-button::before {
  content: '';
  position: absolute;
  background: linear-gradient(180.00deg, rgba(3.1874969005584717, 224.78253173828125, 255, 0.66), rgba(18.797393798828125, 205.0625, 193.8865966796875, 1) 100%);
  inset: 5px;
  border-radius: 50%;
  z-index: 2;
}

.footer__up-button::after {
  content: '';
  position: absolute;
  background: linear-gradient(180deg,
      rgba(3.19, 224.78, 255, 0.3),
      rgba(18.80, 205.06, 193.89, 0.5) 100%);
  border-radius: 50%;
  z-index: 1;
  inset: -10px;
  opacity: 0.5;
  scale: 0.9;
  transition: all 0.6s;
}

.footer__up-button:hover::after {
  opacity: 0.5;
  animation: animation__up 1.5s infinite alternate;
}

.footer__up-text {
  transform: rotate(-90deg);
  color: rgba(0, 224, 255, 1);
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  white-space: nowrap;
}

@keyframes animation__up {
  0% {
    scale: 0.9;
    opacity: 0.5;
  }

  100% {
    scale: 1.1;
    opacity: 0.7;
  }
}