/* ============================== GLOBAL ============================== */
/* ============================== GLOBAL ============================== */

.body {
  line-height: 1.5;
  color: var(--general-text, #312c27);
  font-family: "Montserrat", "Arial", sans-serif;
  background: var(--general-bg, #fff9f4);
  font-size: 16px;
}

.body--opened-menu {
  overflow: hidden;
}

.body--opened-modal {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.main__about {
  padding: 140px 0px;
}

.main__program {
  padding-bottom: 140px;
}

.main__gallery {
  padding-bottom: 140px;
}

.main__reviews {
  padding-bottom: 140px;
}

.container {
  max-width: 1310px;
  padding: 0px 15px;
  margin: 0 auto;
  height: 100%;
}

.title {
  color: var(--title-color);
  font-family: Gabriola;
  font-size: 74px;
  font-weight: 400;
  line-height: 0.82;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  line-height: 1.6;
  font-size: 16px;
  background: var(--accent-color);
  border-radius: 100px;
  padding: 3px 15px;
  font-weight: 500;
  transition: var(--transition);
}

.button:hover {
  background: #ff9138;
}

/* ============================== MODAL ============================== */
/* ============================== MODAL ============================== */

.modal {
  position: fixed;
  inset: 0;
  background: #00000071;
  padding: 10px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
}

.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  background: var(--general-bg);
  border-radius: 20px;
  padding: 0 60px 60px;
  position: relative;
  max-width: 428px;
}

.modal__img {
  margin-top: -65px;
  margin-left: 13px;
  margin-bottom: 15px;
  max-width: 100%;
}

.modal__cancel {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal__cancel path,
.modal__cancel rect {
  transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
  stroke: rgba(172, 144, 122, 1);
}

.modal__title {
  font-family: Gabriola;
  font-size: 42px;
  font-weight: 400;
  line-height: 90%;
  color: var(--title-color);
  margin-bottom: 10px;
}

.modal__text {
  margin-bottom: 30px;
}

.modal__form-label {
  margin-bottom: 10px;
}

.modal__form-button {
  width: 100%;
}

/* ============================== FIELD ============================== */
/* ============================== FIELD ============================== */

.field {
  display: block;
  position: relative;
}

.field span {
  position: absolute;
  font-size: 11px;
  color: rgba(172, 144, 122, 1);
  top: 12px;
  left: 28px;
  opacity: 0;
  transition: var(--transition);
  visibility: hidden;
}

.field span:focus {
  opacity: 1;
}

.field_input {
  display: block;
  width: 100%;
  border-radius: 100px;
  padding: 19px 28px 19px 28px;
  border: 1px solid rgba(172, 144, 122, 1);
  background: #00000000;
  font-size: 16px;
  transition: var(--transition);
}

.field_input:hover {
  border-color: var(--accent-color);
}

.field_input::placeholder {
  color: rgba(172, 144, 122, 1);
  transition: var(--transition);
}

.field_input:hover::placeholder {
  color: var(--accent-color);
}

.field_input:focus {
  padding: 26px 28px 12px 28px;
}

.field_input:focus+span {
  opacity: 1;
  visibility: visible;
}