/* ============================== ABOUT ============================== */
/* ============================== ABOUT ============================== */
.about {
  background: url(../img/backgrounds/about-bg.jpg) center center / cover no-repeat;
}

.about__title span {
  color: rgba(74, 188, 236, 1);
}

.about__title {
  font-size: 54px;
  font-weight: 500;
  line-height: 65px;
  text-align: left;
  text-transform: uppercase;
  max-width: 750px;
  margin-bottom: 60px;
}

.about__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap
}

.about__list-inner {
  padding: 36px 38px 28px 42px;
}

.about__list-item {
  border-radius: 20px;
  background: linear-gradient(180.00deg, rgba(0, 224.4000244140625, 255, 0.11), rgba(0, 224.4000244140625, 255, 0.05) 100%);
  position: relative;
}

.about__list-item::before {
  content: '';
  position: absolute;
  background: linear-gradient(180deg,
      rgba(0, 224, 255, 0.12) 0%,
      rgba(0, 224, 255, 0.08) 25%,
      rgba(0, 224, 255, 0.04) 50%,
      rgba(0, 224, 255, 0.02) 75%,
      rgba(0, 224, 255, 0.01) 100%);
  border-radius: 20px;
  inset: 0;
  border: 3px solid rgba(0, 224.4, 255, 0.15);
}

.about__list-item-top {
  max-width: 285px;
}

.about__list-item-bottom {
  max-width: 385px;
}

.about__list-img {
  padding-bottom: 19px;
}

.about__item-decor {
  position: absolute;
  bottom: -15px;
  left: 20px;
}

/* ============================== AI ============================== */
/* ============================== AI ============================== */

.ai {
  background: url(../img/backgrounds/bg__ai.jpg) center center /cover no-repeat;
}

.ai__container {
  position: relative;
}

.ai__title span {
  color: rgba(74, 188, 236, 1);
}

.ai__title {
  font-size: 54px;
  font-weight: 500;
  line-height: 65px;
  text-transform: uppercase;
  margin-bottom: 65px;
  max-width: 775px;
}

.ai__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ai__list-item {
  background: linear-gradient(90.00deg, rgba(31.237504959106445, 63.08890151977539, 76.5, 0.54), rgba(30.777082443237305, 74.94816589355469, 93.5, 0) 100%);
  display: flex;
  gap: 20px;
  padding: 20px 25px;
  max-width: 710px;
  width: 100%;
  position: relative;
}

.ai__list-text {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  position: relative;
  z-index: 1;
}

.ai__item-decor {
  position: absolute;
  left: 60px;
  top: 15px;
}

.ai__button {
  margin-top: 70px;
  cursor: pointer;
}

.ai__img {
  position: absolute;
  top: 10px;
  opacity: 0.6;
  right: -230px;
  top: 100px;
}

.ai__oracle-right {
  position: absolute;
  top: 60px;
  right: -600px;
  opacity: 0.7;
}

.ai__oracle-top {
  position: absolute;
  top: -60px;
  right: -300px;
  opacity: 0.7;
}

.ai__decoration {
  position: absolute;
  top: 345px;
  right: 648px;
}

.ai__decoration-1 {
  top: 346px;
  right: 647px;
  opacity: 0.7;
}

.ai__decoration-2 {
  top: 615px;
  right: 492px;
  opacity: 0.7;
}

.ai__decoration-3 {
  top: 250px;
  right: 360px;
  opacity: 0.7;
}

.ai__decoration-4 {
  top: 260px;
  right: -270px;
  opacity: 0.7;
}

.ai__decoration-5 {
  top: 482px;
  right: 170px;
  opacity: 0.7;
}

/* ============================== IMPORTANT ============================== */
/* ============================== IMPORTANT ============================== */

.important {
  /* background: linear-gradient(-47.00deg, rgba(1.77083420753479, 34.63749313354492, 53.125, 0.8),rgba(12.36484432220459, 54.77878952026367, 60.5625, 0.8) 100%); */
  background: url(../img/backgrounds/bg__about-4.jpg) center center / cover no-repeat;
}

.important__title span {
  color: rgba(74, 188, 236, 1);
}

.important__title {
  font-size: 54px;
  font-weight: 500;
  line-height: 65px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 65px;
}

.important__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.important__list-item {
  display: flex;
  gap: 20px;
  position: relative;
  flex-grow: 0;
  align-items: center;
}

.important__list-item-3 {
  margin-right: 34px;
}

.important__list-text-1 {
  max-width: 250px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}

.important__list-text-2 {
  max-width: 228px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}

.important__list-text-3 {
  max-width: 215px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  margin-left: 48px;
}

.important__list-text-4 {
  max-width: 215px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}

.important__item-decor-1 {
  position: absolute;
  top: 185px;
  left: 35px;
}

.important__item-decor-2 {
  position: absolute;
  top: 190px;
  left: 35px;
}

.important__item-decor-3 {
  position: absolute;
  top: 185px;
  left: 310px;
}

.important__item-decor-4 {
  position: absolute;
  top: 185px;
  left: 315px;
}

/* ============================== WHY-US ============================== */
/* ============================== WHY-US ============================== */

.why-us {
  background: url(../img/backgrounds/why-us__bg.jpg) center center / cover no-repeat;
}

.why-us__container {
  position: relative;
}

.why-us__title {
  font-size: 54px;
  font-weight: 500;
  line-height: 65px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.why-us__title span {
  color: rgba(74, 188, 236, 1);
}

.why-us__list-item {
  display: flex;
  gap: 20px;
  margin-bottom: 22px;
  position: relative;
}

.why-us__list-item:nth-child(5) {
  margin-bottom: 55px;
}

.why-us__list-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  z-index: 1;
}

.why-us__list-text-2 {
  max-width: 570px;
}

.why-us__list-text-3 {
  max-width: 633px;
}

.why-us__list-text-4 {
  max-width: 570px;
}

.why-us__list-text-5 {
  max-width: 610px;
}

.why-us__item-decor {
  position: absolute;
  left: 35px;
  top: -4px;
}

.why-us__brain {
  position: absolute;
  top: -5px;
  opacity: 0.9;
}

.why-us__decoration{
  position: absolute;
}

.why-us__oraacle{
  position: absolute;
  top: -170px;
  left: 580px;
}

.why-us__decoration-1{
  position: absolute;
  top: 555px;
  left: 798px;
}

.why-us__decoration-2{
  position: absolute;
  top: 460px;
  left: 1390px;
}


/* ============================== PROGRAM ============================== */
/* ============================== PROGRAM ============================== */