/* ============================== ABOUT ============================== */
/* ============================== ABOUT ============================== */
.about {
  background: linear-gradient(313deg, rgba(2, 35, 53, 1) 0%, rgba(12, 55, 61, 1) 100%);
}

.about__title span {
  color: rgba(74, 188, 236, 1);
}

.about__title {
  font-size: 54px;
  font-weight: 500;
  line-height: 65px;
  text-align: left;
  text-transform: uppercase;
  max-width: 750px;
  margin-bottom: 60px;
}

.about__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap
}

.about__list-inner {
  padding: 36px 38px 28px 42px;
}

.about__list-item {
  border-radius: 20px;
  background: linear-gradient(180.00deg, rgba(0, 224.4000244140625, 255, 0.11), rgba(0, 224.4000244140625, 255, 0.05) 100%);
  position: relative;
}

.about__list-item::before {
  content: '';
  position: absolute;
  background: linear-gradient(180deg,
      rgba(0, 224, 255, 0.12) 0%,
      rgba(0, 224, 255, 0.08) 25%,
      rgba(0, 224, 255, 0.04) 50%,
      rgba(0, 224, 255, 0.02) 75%,
      rgba(0, 224, 255, 0.01) 100%);
  border-radius: 20px;
  inset: 0;
  border: 3px solid rgba(0, 224.4, 255, 0.15);
}

.about__list-item-top {
  max-width: 285px;
}

.about__list-item-bottom {
  max-width: 385px;
}

.about__list-img {
  padding-bottom: 19px;
}

.about__item-decor {
  position: absolute;
  bottom: -15px;
  left: 20px;
}

/* ============================== AI ============================== */
/* ============================== AI ============================== */

.ai {
  background: linear-gradient(313deg, #022335 0%, #043a41 100%);
}

.ai__container {
  position: relative;
}

.ai__title span {
  color: rgba(74, 188, 236, 1);
}

.ai__title {
  font-size: 54px;
  font-weight: 500;
  line-height: 65px;
  text-transform: uppercase;
  margin-bottom: 65px;
  max-width: 775px;
}

.ai__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ai__list-item {
  background: linear-gradient(90.00deg, rgba(31.237504959106445, 63.08890151977539, 76.5, 0.54), rgba(30.777082443237305, 74.94816589355469, 93.5, 0) 100%);
  display: flex;
  gap: 20px;
  padding: 20px 25px;
  max-width: 710px;
  width: 100%;
  position: relative;
}

.ai__list-text {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  position: relative;
  z-index: 1;
}

.ai__item-decor {
  position: absolute;
  left: 60px;
  top: 15px;
}

.ai__button {
  margin-top: 70px;
  cursor: pointer;
}

.ai__img {
  position: absolute;
  right: -280px;
  top: 100px;
  box-shadow: inset 0 0 110px 14px #000;
  mix-blend-mode: lighten;
  opacity: 1;
}

.ai__decor-right{
  position: absolute;
  right: -600px;
  top: 30px;
}

.ai__decor-top{
  position: absolute;
  top: -110px;
  right: -300px;
}

/* ============================== IMPORTANT ============================== */
/* ============================== IMPORTANT ============================== */

.important {
  background: linear-gradient(313deg, rgba(2, 35, 53, 1) 0%, rgba(12, 55, 61, 1) 100%);
}

.important__title span {
  color: rgba(74, 188, 236, 1);
}

.important__title {
  font-size: 54px;
  font-weight: 500;
  line-height: 65px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 65px;
}

.important__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.important__list-item {
  display: flex;
  gap: 20px;
  position: relative;
  flex-grow: 0;
  align-items: center;
}

.important__list-item-3 {
  margin-right: 34px;
}

.important__list-text-1 {
  max-width: 250px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}

.important__list-text-2 {
  max-width: 228px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}

.important__list-text-3 {
  max-width: 215px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  margin-left: 48px;
}

.important__list-text-4 {
  max-width: 215px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}

.important__item-decor-1 {
  position: absolute;
  top: 185px;
  left: 35px;
}

.important__item-decor-2 {
  position: absolute;
  top: 190px;
  left: 35px;
}

.important__item-decor-3 {
  position: absolute;
  top: 185px;
  left: 310px;
}

.important__item-decor-4 {
  position: absolute;
  top: 185px;
  left: 260px;
}

/* ============================== WHY-US ============================== */
/* ============================== WHY-US ============================== */

.why-us {
  background: linear-gradient(313deg, #022335 0%, #043a41 100%);
}

.why-us__container {
  position: relative;
}

.why-us__title {
  font-size: 54px;
  font-weight: 500;
  line-height: 65px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.why-us__title span {
  color: rgba(74, 188, 236, 1);
}

.why-us__list-item {
  display: flex;
  gap: 20px;
  margin-bottom: 22px;
  position: relative;
}

.why-us__list-item:nth-child(5) {
  margin-bottom: 55px;
}

.why-us__list-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  z-index: 1;
}

.why-us__list-text-2 {
  max-width: 570px;
}

.why-us__list-text-3 {
  max-width: 633px;
}

.why-us__list-text-4 {
  max-width: 570px;
}

.why-us__list-text-5 {
  max-width: 610px;
}

.why-us__item-decor {
  position: absolute;
  left: 35px;
  top: -4px;
}

.why-us__brain {
  position: absolute;
  top: 20px;
  box-shadow: inset 100px 0 143px 76px #000;
  mix-blend-mode: lighten;
}


/* ============================== PROGRAM ============================== */
/* ============================== PROGRAM ============================== */

.program {
  background: linear-gradient(313deg, rgba(2, 35, 53, 1) 0%, rgba(12, 55, 61, 1) 100%);
}

.program__title span {
  color: rgba(74, 188, 236, 1);
}

.program__title {
  font-size: 54px;
  font-weight: 500;
  line-height: 65px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.program__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 30px;
}

.accordion-list__item {
  margin-bottom: 18px;
}

.accordion-list__control {
  display: flex;
  justify-content: space-between;
  padding: 18px 22px 18px 17px;
  border-radius: 6px;
  transition: all .4s;
  background: linear-gradient(-47.00deg, rgba(7.11875057220459, 52.20417785644531, 71.1875, 1), rgba(8.145832061767578, 38.377506256103516, 42.5, 1) 100%);
}

.accordion-list__item--opened .accordion__content__item:nth-child(1) {
  padding-top: 34px;
}

.accordion-list__control-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.accordion-list__control-left img {
  padding-top: 5px;
}

.accordion-llist__control-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
}

.accordion-llist__control-title span {
  color: rgba(74, 188, 236, 1);
  font-size: 14px;
  font-weight: 400;
}

.accordino-list__control-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
}

.accordino-list__control-icon svg {
  transition: all .4s;
  transform: rotate(90deg);
}

.accordino-list__control-icon::before {
  content: '';
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: 6px;
  background: linear-gradient(180.00deg, rgba(0, 224.4000244140625, 255, 0.11), rgba(0, 224.4000244140625, 255, 0.05) 100%);
}

.accordino-list__control-icon::after {
  content: '';
  position: absolute;
  background: linear-gradient(180deg,
      rgba(0, 224, 255, 0.12) 0%,
      rgba(0, 224, 255, 0.08) 25%,
      rgba(0, 224, 255, 0.04) 50%,
      rgba(0, 224, 255, 0.02) 75%,
      rgba(0, 224, 255, 0.01) 100%);
  height: 32px;
  width: 32px;
  z-index: 1;
  border-radius: 6px;
  border: 2px solid rgba(0, 224.4, 255, 0.15);
}

.accordion-list__control:hover .accordino-list__control-icon svg {
  transform: rotate(180deg);
}

.accordion-list__item--opened .accordino-list__control-icon svg {
  transform: rotate(180deg);
}

.accordion-list__content {
  max-height: 0;
  overflow: hidden;
  transition: all .4s;
}

.accordion-content {
  display: flex;
  gap: 42px;
}

.accordion__content__item {
  margin-bottom: 42px;
  transition: all .7s;
}

.accordion__content__item:nth-child(1) {
  padding-top: 10px;
}

.accordion__content__item-about {
  display: flex;
  gap: 23px;
  padding-left: 10px;
}

.accordion__content__item-about span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 1;
  color: rgba(8, 38, 43, 1);
  font-family: Avenir Next Cyr;
  font-size: 14px;
  font-weight: 800;
  line-height: 21px;
}

.accordion__content__item-about span::before {
  content: '';
  position: absolute;
  height: 27px;
  width: 27px;
  background: rgba(74, 188, 236, 1);
  border-radius: 50%;
  z-index: -1;
}

.accordion-content__title {
  color: rgba(74, 188, 236, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.accordion__content__text {
  padding-left: 41px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}

.program__button {
  margin-top: 60px;
}

.accordion-llist__control-development {
  background: rgba(0, 224, 255, 1);
  margin-left: 15px;
}

.accordion-llist__control-development span {
  color: rgba(8, 38, 43, 1);
  font-size: 13px;
  font-weight: 500;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0px 4px;
}

/* ============================== AUTHOR ============================== */
/* ============================== AUTHOR ============================== */

.author {
  background: linear-gradient(313deg, #022335 0%, #043a41 100%);
}

.main__container {
  position: relative;
}

.author__inner {
  display: flex;
  gap: 100px;
}

.author__about-title {
  font-size: 54px;
  font-weight: 500;
  line-height: 65px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.author__about-text {
  max-width: 488px;
}

.author__about-text p {
  margin-bottom: 25px;
}

.authot__img {
  position: relative;
  z-index: 1;
}

.author__img-name {
  position: absolute;
  top: 520px;
  left: 250px;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.author__img-name span {
  color: rgba(0, 224, 255, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
}

.author__decor {
  position: absolute;
  top: -40px;
  left: 450px;
  box-shadow: inset 1px 0 16px 41px #08262b;
  mix-blend-mode: lighten;
}

/* ============================== AD ============================== */
/* ============================== AD ============================== */

.ad__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
}

.ad__title {
  font-weight: 500;
  font-size: 54px;
  text-transform: uppercase;
}

.ad__button {
  border: 1px solid #00e0ff;
  border-radius: 9px;
  width: 213px;
  height: 60px;
  font-weight: 750;
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  color: #4abcec;
  background: none;
  box-shadow: none;
  transition: all .6s;
}

.ad__button:hover {
  box-shadow: none;
  border: 1px solid white;
  color: white;
}

.ad__slider {
  overflow: visible;
  position: relative;
}

.ad__slide {
  display: flex;
}

.ad {
  background: linear-gradient(313deg, rgba(2, 35, 53, 1) 0%, rgba(12, 55, 61, 1) 100%);
}

.slide__info-title {
  font-weight: 750;
  font-size: 16px;
  line-height: 131%;
  margin-bottom: 25px;
}

.slide__text-container {
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  background: linear-gradient(180deg, #fff 65.96%, rgba(105, 104, 104, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 700px;
}

.read-more {
  font-weight: 500;
  font-size: 12px;
  line-height: 175%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4abcec;
}

.slide__img {
  position: relative;
  margin-bottom: 30px;
}

.slide__img-decor {
  position: absolute;
  top: 220px;
  left: 30px;
}

.slide__img-date {
  position: absolute;
  top: 20px;
  display: flex;
  gap: 8px;
  left: 260px;
}

.slide__img-date span {
  font-weight: 500;
  font-size: 12px;
  line-height: 175%;
}

.slide__inner {
  max-width: 387px;
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  transition: all .4s;
}

.ad__prev,
.ad__next {
  cursor: pointer;
  flex-shrink: 0;
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .6s;
  border-radius: 100%;
  z-index: 2;
  background: linear-gradient(180deg,
      rgba(3, 225, 255, 0.66) 0%,
      #13cdc2 50%,
      rgba(3, 225, 255, 1) 50%,
      #13cdc2 100%);
  background-size: 100% 200%;
  background-position: 0% 0%;
  box-shadow: 0 7px 20px -7px #00e0ff;
}

.ad__prev:hover,
.ad__next:hover {
  background-position: 0% 100%;
  box-shadow: 0 7px 25px -1px #00e0ff;
}

.ad__prev {
  position: absolute;
  top: 100px;
  left: 30px;
}

.ad__next {
  position: absolute;
  top: 100px;
  right: 30px;
}

.swiper-button-disabled.ad__prev {
  border-radius: 100%;
  background: #08262b;
  opacity: 0.6;
  box-shadow: none;
}

.swiper-button-disabled.ad__next {
  border-radius: 100%;
  background: #08262b;
  opacity: 0.6;
  box-shadow: none;
}

/* ============================== VACANCIES ============================== */
/* ============================== VACANCIES ============================== */

.vacancies__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
}

.vacancies__title {
  font-weight: 500;
  font-size: 54px;
  text-transform: uppercase;
}

.vacancies__button {
  border: 1px solid #00e0ff;
  border-radius: 9px;
  width: 213px;
  height: 60px;
  font-weight: 750;
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  color: #4abcec;
  background: none;
  box-shadow: none;
  transition: all .6s;
}

.vacancies__button:hover {
  box-shadow: none;
  border: 1px solid white;
  color: white;
}

.vacancies__slider {
  overflow: visible;
  position: relative;
}

.vacancies__slide {
  display: flex;
}

.vacancies {
  background: linear-gradient(313deg, #022335 0%, #043a41 100%);
}

.slide__info-title {
  font-weight: 750;
  font-size: 16px;
  line-height: 131%;
  margin-bottom: 25px;
}

.slide__text-container {
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  background: linear-gradient(180deg, #fff 65.96%, rgba(105, 104, 104, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 700px;
}

.read-more {
  font-weight: 500;
  font-size: 12px;
  line-height: 175%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4abcec;
  cursor: pointer;
}

.slide__img {
  position: relative;
  margin-bottom: 30px;
}

.slide__img-decor {
  position: absolute;
  top: 220px;
  left: 30px;
}

.slide__img-date {
  position: absolute;
  top: 20px;
  display: flex;
  gap: 8px;
  left: 260px;
}

.slide__img-date span {
  font-weight: 500;
  font-size: 12px;
  line-height: 175%;
}

.slide__inner {
  max-width: 387px;
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  transition: all .4s;
}

.vacancies__prev,
.vacancies__next {
  cursor: pointer;
  flex-shrink: 0;
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .6s;
  border-radius: 100%;
  z-index: 2;
  background: linear-gradient(180deg,
      rgba(3, 225, 255, 0.66) 0%,
      #13cdc2 50%,
      rgba(3, 225, 255, 1) 50%,
      #13cdc2 100%);
  background-size: 100% 200%;
  background-position: 0% 0%;
  box-shadow: 0 7px 20px -7px #00e0ff;
}

.vacancies__prev:hover,
.vacancies__next:hover {
  background-position: 0% 100%;
  box-shadow: 0 7px 25px -1px #00e0ff;
}

.vacancies__prev {
  position: absolute;
  top: 100px;
  left: 30px;
}

.vacancies__next {
  position: absolute;
  top: 100px;
  right: 30px;
}

.swiper-button-disabled.vacancies__prev {
  border-radius: 100%;
  background: #08262b;
  opacity: 0.6;
  box-shadow: none;
}

.swiper-button-disabled.vacancies__next {
  border-radius: 100%;
  background: #08262b;
  opacity: 0.6;
  box-shadow: none;
}