:root {
  --general-text: #312c27;
  --general-bg: #fff9f4;
  --accent-bg: #ffe0cb;
  --accent-color: #ffa55c;
  --title-color: #1f1711;
  --transition: all .4s;
}

/* ========================================= */

.body {
  line-height: 1.5;
  color: var(--general-text, #312c27);
  font-family: "Montserrat", "Arial", sans-serif;
  background: var(--general-bg, #fff9f4);
  font-size: 16px;
}

.body--opened-menu {
  overflow: hidden;
}

.body--opened-modal {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.main__about {
  margin: 140px 0px;
}

.container {
  max-width: 1310px;
  padding: 0px 15px;
  margin: 0 auto;
  height: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  line-height: 1.6;
  font-size: 16px;
  background: var(--accent-color);
  border-radius: 100px;
  padding: 3px 15px;
  font-weight: 500;
  transition: var(--transition);
}

.button:hover {
  background: #ff9138;
}

.modal {
  position: fixed;
  inset: 0;
  background: #00000071;
  padding: 10px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
}

.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  background: var(--general-bg);
  border-radius: 20px;
  padding: 0 60px 60px;
  position: relative;
  max-width: 428px;
}

.modal__img {
  margin-top: -65px;
  margin-left: 13px;
  margin-bottom: 15px;
  max-width: 100%;
}

.modal__cancel {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal__cancel path,
.modal__cancel rect {
  transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
  stroke: rgba(172, 144, 122, 1);
}

.modal__title {
  font-family: Gabriola;
  font-size: 42px;
  font-weight: 400;
  line-height: 90%;
  color: var(--title-color);
  margin-bottom: 10px;
}

.modal__text {
  margin-bottom: 30px;
}

.modal__form-label {
  margin-bottom: 10px;
}

.field {
  display: block;
  position: relative;
}

.field span {
  position: absolute;
  font-size: 11px;
  color: rgba(172, 144, 122, 1);
  top: 12px;
  left: 28px;
  opacity: 0;
  transition: var(--transition);
  visibility: hidden;
}

.field span:focus {
  opacity: 1;
}

.field_input {
  display: block;
  width: 100%;
  border-radius: 100px;
  padding: 19px 28px 19px 28px;
  border: 1px solid rgba(172, 144, 122, 1);
  background: #00000000;
  font-size: 16px;
  transition: var(--transition);
}

.field_input:hover {
  border-color: var(--accent-color);
}

.field_input::placeholder {
  color: rgba(172, 144, 122, 1);
  transition: var(--transition);
}

.field_input:hover::placeholder {
  color: var(--accent-color);
}

.field_input:focus {
  padding: 26px 28px 12px 28px;
}

.field_input:focus+span {
  opacity: 1;
  visibility: visible;
}

.modal__form-button {
  width: 100%;
}

/* ========================================= */

.header {
  background: url(../img/decor/bg-header.png) 50% 100% / cover no-repeat;
}

.header__top-inner {
  padding-top: 19px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header__logo {
  max-width: 174px;
  z-index: 11;
}

.header__logo img {
  width: 100%;
}

.nav__list {
  display: flex;
  gap: 4vh 40px;
}

.nav__link {
  padding: 5px 0px;
  position: relative;
  z-index: 1;
}

.burger-icon {
  display: none;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
}

.burger-icon span {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: var(--general-text);
  position: relative;
  z-index: 11;
  transition: var(--transition);
}

.burger-icon span::before,
.burger-icon span::after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: var(--general-text);
  position: absolute;
  transition: var(--transition);
}

.burger-icon span::before {
  top: -8px;
}

.burger-icon span::after {
  bottom: -8px;
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(50deg);
}

.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-50deg);
}


.nav__link::before {
  content: '';
  position: absolute;
  top: -11px;
  left: -13px;
  width: 34px;
  height: 34px;
  background: var(--accent-color);
  border-radius: 40px;
  z-index: -1;
  opacity: 0;
  transition: all .5s;
}

.nav__link:hover::before {
  opacity: 1;
}

/* ========================================= */

.hero {
  padding: 50px 0px 140px;
}

.hero__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
}

.hero__content {
  max-width: 520px;
}

.hero__info {
  color: #b197b3;
  text-transform: uppercase;
  line-height: 1.6;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.hero__info span {
  display: flex;
  align-items: center;
}

.hero__info span::after {
  content: '';
  background: #b197b3;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  margin: 0px 10px;
  display: block;
}

.hero__info span:last-child::after {
  content: none;
}

.hero__title {
  color: var(--title-color);
  font-family: Gabriola;
  font-size: 74px;
  font-weight: 400;
  line-height: 0.82;
  margin-bottom: 30px;
}

.hero__text {
  margin-bottom: 40px;
  max-width: 360px;
  font-size: 16px;
  font-weight: 400;
}

.hero__button {
  max-width: 360px;
  width: 100%;
}

.hero__img {
  margin-right: 247px;
  position: relative;
}

.hero__img>img {
  width: 100%;
}

.hero__img-control {
  display: flex;
  position: absolute;
  gap: 10px;
  align-items: center;
  max-width: 200px;
  bottom: 11%;
  left: 90%;
}

.hero__img-control--mobile {
  display: none;
}

.hero__img-button {
  flex-shrink: 0;
  border-radius: 50%;
  box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
  background: rgba(255, 224, 203, 1);
  width: 78px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero__img-button::before {
  content: '';
  position: absolute;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  inset: 5px;
  opacity: 0;
  transition: all .5s;
}

.hero__img-button:hover::before {
  opacity: 1;
}

/* ========================================= */

.about {
  color: var(--general-text);
}

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  grid-template-rows: repeat(2, auto);
  gap: 40px 53px;
}

.about__img {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  grid-row: 1/-1;
}

.about__img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 50%;
}

.about__img-control {
  display: flex;
  position: absolute;
  max-width: 300px;
  gap: 10px;
  background: rgba(149, 123, 151, 0.9);
  border-radius: 20px;
  padding: 15px 20px;
  color: var(--general-bg);
  bottom: 4.7%;
  left: 5%;
  align-items: center;
  text-align: left;
}

.about__img-button {
  flex-shrink: 0;
  border-radius: 50%;
  background: var(--general-bg);
  width: 78px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about__img-button::before {
  content: '';
  position: absolute;
  border: 1px solid rgba(206, 170, 208, 1);
  border-radius: 50%;
  inset: 5px;
  opacity: 0;
  transition: all .4s;
}

.about__img-button:hover::before {
  opacity: 1;
}

.about__heading {
  margin-bottom: 30px;
}

.about__title {
  font-family: Gabriola;
  font-size: 74px;
  font-weight: 400;
  line-height: 82%;
  color: var(--title-color);
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.about__grid-item {
  background: var(--accent-bg);
  border-radius: 20px;
  padding: 29px 24px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.about__grid-img {
  width: 60px;
  height: 60px;
  border: 1px solid var(--general-text);
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ========================================= */

.footer {
  background: rgba(171, 130, 97, 1);
  padding: 60px 0px 67px 0px;
  color: var(--general-bg);
}

.footer__inner {
  display: grid;
  grid-template-columns: .9fr .9fr 1.1fr auto;
  gap: 40px 15px;
}

.footer__col:first-child {
  margin-top: -30px;
}

.footer__logo {
  display: block;
  max-width: 240px;
}

.footer__logo img {
  width: 100%;
}

.footer__logo-text {
  margin-bottom: 20px;
}

.footer__col-list {
  margin-top: -5px;
}

.footer__col-item {
  margin-bottom: 10px;
}

.footer__col-item:last-child {
  margin-bottom: 0px;
}

.footer__col-link {
  padding: 5px 0;
  position: relative;
  z-index: 1;
  transition: var(--transition);
}

.footer__col-link::before {
  content: '';
  position: absolute;
  top: -11px;
  left: -13px;
  width: 34px;
  height: 34px;
  background: var(--accent-color);
  border-radius: 40px;
  z-index: -1;
  opacity: 0;
  transition: all .5s;
}

.footer__col-link:hover::before {
  opacity: 1;
}

.footer__contact-item {
  margin-bottom: 10px;
}

.footer__contact-item:last-child {
  margin-bottom: 0px;
}

.footer__col-tel {
  margin-bottom: 47px;
}

.footer__col-number {
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
  transition: var(--transition);
}

.footer__col-number:hover {
  color: var(--accent-color);
}

.footer__col-copyright {
  color: rgba(222, 197, 177, 1);
}

.socials {
  line-height: 0;
}

.socials__list {
  display: flex;
  gap: 15px;
}

.socials__link path {
  transition: var(--transition);
}

.socials__link:hover path {
  fill: var(--accent-color);
}

/* ========================================= */

@media(max-width: 1200px) {
  .hero__img {
    margin-right: 0;
    max-width: 377px;
  }

  .hero__img-control {
    display: flex;
    position: static;
    align-items: center;
    max-width: none;
    margin-top: 20px;
  }

  .hero__img-control--mobile {
    display: none;
  }

  /* -------------------------- */
  .footer__inner {
    justify-content: space-between;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, auto);
  }

  .footer__col:last-child {
    text-align: center;
    grid-column: 1/-1;
  }

  .footer__col:nth-child(2) {
    text-align: center;
  }
}

@media(max-width:1100px) {
  .about__img {
    grid-row: auto;
  }

  .about__grid {
    grid-column: 1/-1;
  }

  .about__body {
    align-self: center;
  }
}

@media(max-width: 900px) {
  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: var(--general-bg);
    padding: 26vh 15px 30px;
    font-size: 24px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .body--opened-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  .burger-icon {
    display: flex;
  }

  /* ----------------------- */
  .footer__inner {
    justify-content: center;
    grid-template: none;
    text-align: center;
    gap: 0px;
  }

  .footer__col:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .footer__col:nth-child(2) {
    margin-bottom: 40px;
  }

  .footer__col:nth-child(3) {
    margin-bottom: 10px;
  }
}

@media(max-width: 800px) {
  .hero__img {
    display: none;
  }

  .hero__img-control--mobile {
    display: flex;
    margin: 0 0 30px;
    text-align: left;
  }

  .hero__content {
    text-align: center;
    max-width: none;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
  }

  /* ---------------- */

  .about__inner {
    grid-template: none;
  }

  .about__img {
    max-width: 500px;
    justify-self: center;
  }

  .body {
    text-align: center;
  }

  .about__grid {
    grid-template: none;
  }
}

@media (max-width: 600px) {

  .main__about {
    padding: 60px 0px 80px;
  }

  /* ------------------ */

  .hero__title {
    font-size: 12vw;
  }

  .hero {
    padding: 50px 0 80px;
  }

  .about__title {
    font-size: 12vw;
  }

  .about__grid-item {
    padding: 10px 15px;
  }

  .about__grid {
    gap: 15px;
  }

  .about__img-control {
    bottom: 0;
    left: 0;
    right: 0;
    max-width: none;
    border-radius: 0px;
    padding: 10px 15px;
  }
}

@media (max-width: 450px) {
  .modal__window {
    padding: 0 15px 45px;
  }

  .modal__img {
    width: 50%;
    margin-top: -45px;
  }

  .modal__title {
    font-size: 35px;
  }
}