@import "reset.css";
@import "fonts.css";
@import "global.css";
@import "header.css";
@import "footer.css";

/* ============================== ROOT ============================== */
/* ============================== ROOT ============================== */

:root {
  --general-text: #312c27;
  --general-bg: #fff9f4;
  --accent-bg: #ffe0cb;
  --accent-color: #ffa55c;
  --title-color: #1f1711;
  --transition: all .4s;
}

/* ============================== ABOUT ============================== */
/* ============================== ABOUT ============================== */

.about {
  color: var(--general-text);
}

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  grid-template-rows: repeat(2, auto);
  gap: 40px 53px;
}

.about__img {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  grid-row: 1/-1;
}

.about__img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 50%;
}

.about__img-control {
  display: flex;
  position: absolute;
  max-width: 300px;
  gap: 10px;
  background: rgba(149, 123, 151, 0.9);
  border-radius: 20px;
  padding: 15px 20px;
  color: var(--general-bg);
  bottom: 4.7%;
  left: 5%;
  align-items: center;
  text-align: left;
}

.about__img-button {
  flex-shrink: 0;
  border-radius: 50%;
  background: var(--general-bg);
  width: 78px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about__img-button::before {
  content: '';
  position: absolute;
  border: 1px solid rgba(206, 170, 208, 1);
  border-radius: 50%;
  inset: 5px;
  opacity: 0;
  transition: all .4s;
}

.about__img-button:hover::before {
  opacity: 1;
}

.about__heading {
  margin-bottom: 30px;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.about__grid-item {
  background: var(--accent-bg);
  border-radius: 20px;
  padding: 29px 24px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.about__grid-img {
  width: 60px;
  height: 60px;
  border: 1px solid var(--general-text);
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ============================== PROGRAM ============================== */
/* ============================== PROGRAM ============================== */

.program__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  gap: 15px;
}

.program__title {
  margin-bottom: 20px;
}

.tab-controls {
  display: flex;
  gap: 26px;
}

.tab-control__link {
  display: block;
  padding: 14px 30px 14px 30px;
  border-radius: 100px;
  background: rgba(255, 249, 244, 1);
  box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0.3);
  transition: var(--transition);
  white-space: nowrap;
}

.tab-control__link:hover {
  background: rgba(255, 224, 203, 1);
}

.tab-control__link--active {
  background: rgba(255, 224, 203, 1);
  box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0);
}

.tab-content {
  display: none;
}

.tab-content--show {
  display: block;
}

.accordion-list__item {
  margin-bottom: 30px;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
}

.accordion-list__item:last-child {
  margin-bottom: 0px;
}


.accordion-list__control {
  padding: 41px 30px;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
  padding-bottom: 20px;
}

.accordion-llist__control-title {
  color: var(--title-color);
  font-family: Gabriola;
  font-size: 42px;
  font-weight: 400;
  line-height: 90%;
  text-align: left;
}

.accordino-list__control-icon {
  width: 36px;
  height: 36px;
  border: 1.5px solid var(--accent-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: var(--transition);
}

.accordino-list__control-icon svg {
  margin-left: 2px;
}

.accordino-list__control-icon path {
  transition: var(--transition);
}

.accordion-list__control:hover .accordino-list__control-icon {
  transform: rotate(90deg);
  background: var(--accent-color);
}

.accordion-list__control:hover .accordino-list__control-icon path {
  fill: var(--general-bg);
}

.accordion-list__item--opened .accordino-list__control-icon {
  transform: rotate(90deg);
  background: var(--accent-color);
}

.accordion-list__item--opened .accordino-list__control-icon path {
  fill: var(--general-bg);
}

.accordion-list__content {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.accordion-content {
  padding: 0px 30px 40px;
  display: flex;
  gap: 80px;
}

.accordion-content__col:first-child {
  max-width: 507px;
  width: 100%;
}

.accordion-content__title {
  color: rgba(206, 170, 208, 1);
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.accordion-content__item {
  margin-bottom: 20px;
  display: flex;
}

.accordion-content__item:last-child {
  margin-bottom: 0px;
}

.accordion-content__icon {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(206, 170, 208, 1);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  flex-shrink: 0;
}

.accordion-content__text {
  max-width: 274px;
}

.program__tab-content {
  margin-bottom: 40px;
}

.program__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.program__action {
  display: grid;
  grid-template: repeat(3, auto)/1.65fr 1fr;
  gap: 40px;
  max-width: 501px;
  flex-shrink: 0;
  width: 100%;
}

.program__discount {
  grid-row: 1/3;
  border-radius: 20px;
  background: rgba(255, 224, 203, 1);
  font-size: 20px;
  padding: 40px;
}

.program__discount-value {
  color: var(--accent-color);
  font-family: 'Gabriola';
  font-size: 74px;
  line-height: 82%;
  text-align: center;
  margin-bottom: 7px;
  animation: value_size 1s infinite alternate;
}

.program__discount span {
  font-size: 16px;
  margin-left: 40%;
}

.program__price-text {
  color: rgba(206, 170, 208, 1);
  text-align: left;
  text-transform: uppercase;
  line-height: 1.6;
}

.program__price-value {
  font-family: Gabriola;
  font-size: 32px;
  font-weight: 400;
  line-height: 90%;
}

.second {
  font-size: 50px;
  color: var(--general-text);
}

.program__button {
  grid-column: 1/-1;
  font-weight: 500;
}

.program__img img {
  width: 100%;
}

@keyframes value_size {
  0% {
    font-size: 74px;
    color: var(--accent-color);
  }

  100% {
    font-size: 82.22px;
    color: rgba(255, 145, 56, 1);
    transform: translateX(3%);
  }
}

/* ============================== GALLERY ============================== */
/* ============================== GALLERY ============================== */

.gallery__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 40px;
}

.gallery__img {
  justify-self: center;
  align-self: center;
}

.gallery__img img {
  max-width: 100%;
}

.gallery__content {
  display: flex;
  gap: 30px 15px;
  align-items: end;
  justify-content: space-between;
}

.gallery__info {
  max-width: 380px;
}

.gallery__title {
  margin-bottom: 20px;
}

.gallery__nav {
  display: flex;
  gap: 98px;
  align-items: center;
  color: rgba(49, 44, 39, 1);
  font-family: Gabriola;
  font-size: 42px;
  line-height: 0.9;
  position: relative;
}

.gallery__prev,
.gallery__next {
  cursor: pointer;
  background: transparent;
  border: 1.5px solid var(--accent-color);
  border-radius: 50%;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
  border: 1.5px solid rgba(225, 217, 225, 1);
  cursor: auto;
}

.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
  fill: rgba(225, 217, 225, 1);
}

.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
  background: transparent;
}

.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path {
  fill: rgba(225, 217, 225, 1);
}

.gallery__prev path,
.gallery__next path {
  transition: var(--transition);
}

.gallery__prev:hover,
.gallery__next:hover {
  background: var(--accent-color);
}

.gallery__prev:hover path,
.gallery__next:hover path {
  fill: var(--general-bg);
}

.gallery__prev path {
  fill: var(--accent-color);
}

.gallery__pagination {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: auto;
  width: auto;
}

.gallery__slide {
  border-radius: 20px;
  overflow: hidden;
}

.gallery__slide img {
  width: 100%;
}

/* ============================== MEDIA ============================== */
/* ============================== MEDIA ============================== */

/* ============================== 1200 ============================== */

@media(max-width: 1200px) {
  .hero__img {
    margin-right: 0;
    max-width: 377px;
  }

  .hero__img-control {
    display: flex;
    position: static;
    align-items: center;
    max-width: none;
    margin-top: 20px;
  }

  .hero__img-control--mobile {
    display: none;
  }

  /* -------------------------- */

  .footer__inner {
    justify-content: space-between;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, auto);
  }

  .footer__col:last-child {
    text-align: center;
    grid-column: 1/-1;
  }

  .footer__col:nth-child(2) {
    text-align: center;
  }

  /* -------------------------- */

  .tab-controls {
    flex-wrap: wrap;
  }
}

/* ============================== 1100 ============================== */

@media(max-width:1100px) {
  .about__img {
    grid-row: auto;
  }

  .about__grid {
    grid-column: 1/-1;
  }

  .about__body {
    align-self: center;
  }

  /* -------------------------- */

  .program__top {
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
    align-items: center;
  }

  .program__title {
    text-align: center;
  }

  .accordion-list__control {
    padding: 25px 30px;
  }

  .accordion-llist__control-title {
    font-size: 35px;
  }

  .accordion-content {
    gap: 30px;
  }
}

/* ============================== 900 ============================== */

@media(max-width: 900px) {
  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: var(--general-bg);
    padding: 26vh 15px 30px;
    font-size: 24px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .body--opened-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  .burger-icon {
    display: flex;
  }

  /* ----------------------- */
  .footer__inner {
    justify-content: center;
    grid-template: none;
    text-align: center;
    gap: 0px;
  }

  .footer__col:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .footer__col:nth-child(2) {
    margin-bottom: 40px;
  }

  .footer__col:nth-child(3) {
    margin-bottom: 10px;
  }

  /* ----------------------- */

  .accordion-content {
    flex-direction: column;
  }

  .accordion-content__col:first-child {
    max-width: none;
  }

  .accordion-content__text {
    max-width: none;
  }

  .program__bottom {
    display: block;
    gap: 0;
  }

  .program__img {
    display: none;
  }

  .program__action {
    grid-template: repeat(3, auto)/minmax(287px, 1fr) 1fr;
    max-width: none;
  }

  /* ----------------------- */

  .gallery__img {
    display: none;
  }

  .gallery__inner {
    grid-template-columns: 1fr;
  }

  .gallery__info {
    max-width: none;
  }

}

/* ============================== 800 ============================== */

@media(max-width: 800px) {
  .hero__img {
    display: none;
  }

  .hero__img-control--mobile {
    display: flex;
    margin: 0 0 30px;
    text-align: left;
  }

  .hero__content {
    text-align: center;
    max-width: none;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
  }

  /* ---------------- */

  .about__inner {
    grid-template: none;
  }

  .about__img {
    max-width: 500px;
    justify-self: center;
  }

  .about__grid {
    grid-template: none;
  }

  /* ---------------- */

  .tab-controls {
    gap: 15px;
    justify-content: center;
  }

  .tab-control__link {
    padding: 6px 20px;
  }

  .accordion-content__item {
    text-align: left;
  }

  .accordion-content__title {
    text-align: left;
  }

  .accordion-content__text {
    text-align: left;
  }
}

/* ============================== 600 ============================== */

@media (max-width: 600px) {

  .main__about {
    padding: 60px 0px 80px;
    margin: 40px 0px;
  }

  .main__gallery,
  .main__program {
    padding: 0 0 80px;
  }

  /* ------------------ */
  .title {
    font-size: 12vw;
  }

  .hero {
    padding: 50px 0 80px;
  }

  .about__grid-item {
    padding: 10px 15px;
  }

  .about__grid {
    gap: 15px;
  }

  .about__img-control {
    bottom: 0;
    left: 0;
    right: 0;
    max-width: none;
    border-radius: 0px;
    padding: 10px 15px;
  }

  .accordino-list__control {
    padding: 17px 30px;
    font-size: 28px;
  }

  .accordion-llist__control-title {
    font-size: 28px;
  }

  .accordino-list__control-icon {
    height: 26px;
    width: 26px;
  }

  .accordino-list__control-icon svg {
    width: 10px;
  }

  .accordion-list__item {
    margin-bottom: 20px;
  }

  .program__discount {
    grid-column: 1/-1;
    grid-row: auto;
    justify-self: center;
  }

  .program__action {
    grid-template: repeat(3, auto)/1fr 1fr;
    gap: 15px;
  }

  .program__top {
    margin-bottom: 30px;
  }

  .main__program {
    padding-bottom: 80px;
  }

  /* ------------------ */

  .gallery__content {
    flex-direction: column;
  }

  .gallery__inner {
    margin-bottom: 20px;
  }
}

/* ============================== 450 ============================== */

@media (max-width: 450px) {
  .main__about {
    margin: 0px 0px;
  }

  .modal__window {
    padding: 0 15px 45px;
  }

  .modal__img {
    width: 50%;
    margin-top: -45px;
  }

  .modal__title {
    font-size: 35px;
  }

  /* ---------------- */

  .accordion-list__control {
    padding: 17px 15px;
  }

  .accordion-content {
    padding: 0 15px 30px;
  }

  .accordion-content__item {
    margin-bottom: 10px;
  }

  .accordion-content__title {
    margin-bottom: 10px;
  }

  .program__action {
    grid-template: none;
    text-align: center;
  }

  .program__discount {
    text-align: left;
  }

  .program__price-text {
    text-align: center;
  }

  /* ---------------- */

  .gallery__content {
    text-align: center;
  }
}