:root {
  --general-text: #312c27;
  --general-bg: #fff9f4;
  --accent-bg: #ffe0cb;
  --accent-color: #ffa55c;
  --title-color: #1f1711;
  --transition: all .4s;
}

/* ========================================= */

.body {
  line-height: 1.5;
  color: var(--general-text, #312c27);
  font-family: "Montserrat", "Arial", sans-serif;
  background: var(--general-bg, #fff9f4);
  font-size: 16px;
}

.body--opened-menu {
  overflow: hidden;
}

.body--opened-modal {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.main__about {
  padding: 140px 0px;
}

.main__program {
  padding-bottom: 140px;
}

.container {
  max-width: 1310px;
  padding: 0px 15px;
  margin: 0 auto;
  height: 100%;
}

.title {
  color: var(--title-color);
  font-family: Gabriola;
  font-size: 74px;
  font-weight: 400;
  line-height: 0.82;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  line-height: 1.6;
  font-size: 16px;
  background: var(--accent-color);
  border-radius: 100px;
  padding: 3px 15px;
  font-weight: 500;
  transition: var(--transition);
}

.button:hover {
  background: #ff9138;
}

.modal {
  position: fixed;
  inset: 0;
  background: #00000071;
  padding: 10px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
}

.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  background: var(--general-bg);
  border-radius: 20px;
  padding: 0 60px 60px;
  position: relative;
  max-width: 428px;
}

.modal__img {
  margin-top: -65px;
  margin-left: 13px;
  margin-bottom: 15px;
  max-width: 100%;
}

.modal__cancel {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal__cancel path,
.modal__cancel rect {
  transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
  stroke: rgba(172, 144, 122, 1);
}

.modal__title {
  font-family: Gabriola;
  font-size: 42px;
  font-weight: 400;
  line-height: 90%;
  color: var(--title-color);
  margin-bottom: 10px;
}

.modal__text {
  margin-bottom: 30px;
}

.modal__form-label {
  margin-bottom: 10px;
}

.field {
  display: block;
  position: relative;
}

.field span {
  position: absolute;
  font-size: 11px;
  color: rgba(172, 144, 122, 1);
  top: 12px;
  left: 28px;
  opacity: 0;
  transition: var(--transition);
  visibility: hidden;
}

.field span:focus {
  opacity: 1;
}

.field_input {
  display: block;
  width: 100%;
  border-radius: 100px;
  padding: 19px 28px 19px 28px;
  border: 1px solid rgba(172, 144, 122, 1);
  background: #00000000;
  font-size: 16px;
  transition: var(--transition);
}

.field_input:hover {
  border-color: var(--accent-color);
}

.field_input::placeholder {
  color: rgba(172, 144, 122, 1);
  transition: var(--transition);
}

.field_input:hover::placeholder {
  color: var(--accent-color);
}

.field_input:focus {
  padding: 26px 28px 12px 28px;
}

.field_input:focus+span {
  opacity: 1;
  visibility: visible;
}

.modal__form-button {
  width: 100%;
}

/* ========================================= */

.header {
  background: url(../img/decor/bg-header.png) 50% 100% / cover no-repeat;
}

.header__top-inner {
  padding-top: 19px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header__logo {
  max-width: 174px;
  z-index: 11;
}

.header__logo img {
  width: 100%;
}

.nav__list {
  display: flex;
  gap: 4vh 40px;
}

.nav__link {
  padding: 5px 0px;
  position: relative;
  z-index: 1;
}

.burger-icon {
  display: none;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
}

.burger-icon span {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: var(--general-text);
  position: relative;
  z-index: 11;
  transition: var(--transition);
}

.burger-icon span::before,
.burger-icon span::after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: var(--general-text);
  position: absolute;
  transition: var(--transition);
}

.burger-icon span::before {
  top: -8px;
}

.burger-icon span::after {
  bottom: -8px;
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(50deg);
}

.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-50deg);
}


.nav__link::before {
  content: '';
  position: absolute;
  top: -11px;
  left: -13px;
  width: 34px;
  height: 34px;
  background: var(--accent-color);
  border-radius: 40px;
  z-index: -1;
  opacity: 0;
  transition: all .5s;
}

.nav__link:hover::before {
  opacity: 1;
}

/* ========================================= */

.hero {
  padding: 50px 0px 140px;
}

.hero__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
}

.hero__content {
  max-width: 520px;
}

.hero__info {
  color: #b197b3;
  text-transform: uppercase;
  line-height: 1.6;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.hero__info span {
  display: flex;
  align-items: center;
}

.hero__info span::after {
  content: '';
  background: #b197b3;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  margin: 0px 10px;
  display: block;
}

.hero__info span:last-child::after {
  content: none;
}

.hero__title {
  margin-bottom: 30px;
}

.hero__text {
  margin-bottom: 40px;
  max-width: 360px;
  font-size: 16px;
  font-weight: 400;
}

.hero__button {
  max-width: 360px;
  width: 100%;
}

.hero__img {
  margin-right: 247px;
  position: relative;
}

.hero__img>img {
  width: 100%;
}

.hero__img-control {
  display: flex;
  position: absolute;
  gap: 10px;
  align-items: center;
  max-width: 200px;
  bottom: 11%;
  left: 90%;
}

.hero__img-control--mobile {
  display: none;
}

.hero__img-button {
  flex-shrink: 0;
  border-radius: 50%;
  box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
  background: rgba(255, 224, 203, 1);
  width: 78px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero__img-button::before {
  content: '';
  position: absolute;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  inset: 5px;
  opacity: 0;
  transition: all .5s;
}

.hero__img-button:hover::before {
  opacity: 1;
}

/* ========================================= */

.about {
  color: var(--general-text);
}

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  grid-template-rows: repeat(2, auto);
  gap: 40px 53px;
}

.about__img {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  grid-row: 1/-1;
}

.about__img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 50%;
}

.about__img-control {
  display: flex;
  position: absolute;
  max-width: 300px;
  gap: 10px;
  background: rgba(149, 123, 151, 0.9);
  border-radius: 20px;
  padding: 15px 20px;
  color: var(--general-bg);
  bottom: 4.7%;
  left: 5%;
  align-items: center;
  text-align: left;
}

.about__img-button {
  flex-shrink: 0;
  border-radius: 50%;
  background: var(--general-bg);
  width: 78px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about__img-button::before {
  content: '';
  position: absolute;
  border: 1px solid rgba(206, 170, 208, 1);
  border-radius: 50%;
  inset: 5px;
  opacity: 0;
  transition: all .4s;
}

.about__img-button:hover::before {
  opacity: 1;
}

.about__heading {
  margin-bottom: 30px;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.about__grid-item {
  background: var(--accent-bg);
  border-radius: 20px;
  padding: 29px 24px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.about__grid-img {
  width: 60px;
  height: 60px;
  border: 1px solid var(--general-text);
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ========================================= */
.main__program {}

.program {}

.program__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  gap: 15px;
}

.program__title {
  margin-bottom: 20px;
}

.program__text {}

.tab-controls {
  display: flex;
  gap: 26px;
}

.tab-control__item {}

.tab-control__link {
  display: block;
  padding: 14px 30px 14px 30px;
  border-radius: 100px;
  background: rgba(255, 249, 244, 1);
  box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0.3);
  transition: var(--transition);
  white-space: nowrap;
}

.tab-control__link:hover {
  background: rgba(255, 224, 203, 1);
}

.tab-control__link--active {
  background: rgba(255, 224, 203, 1);
  box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0);
}

.tab-content {
  display: none;
}

.tab-content--show {
  display: block;
}

.accordion-list {}

.accordion-list__item {
  margin-bottom: 30px;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
}

.accordion-list__item:last-child {
  margin-bottom: 0px;
}


.accordion-list__control {
  padding: 41px 30px;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
  padding-bottom: 20px;
}

.accordion-llist__control-title {
  color: var(--title-color);
  font-family: Gabriola;
  font-size: 42px;
  font-weight: 400;
  line-height: 90%;
  text-align: left;
}

.accordino-list__control-icon {
  width: 36px;
  height: 36px;
  border: 1.5px solid var(--accent-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: var(--transition);
}

.accordino-list__control-icon svg {
  margin-left: 2px;
}

.accordino-list__control-icon path {
  transition: var(--transition);
}

.accordion-list__control:hover .accordino-list__control-icon {
  transform: rotate(90deg);
  background: var(--accent-color);
}

.accordion-list__control:hover .accordino-list__control-icon path {
  fill: var(--general-bg);
}

.accordion-list__item--opened .accordino-list__control-icon {
  transform: rotate(90deg);
  background: var(--accent-color);
}

.accordion-list__item--opened .accordino-list__control-icon path {
  fill: var(--general-bg);
}

.accordion-list__content {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.accordion-content {
  padding: 0px 30px 40px;
  display: flex;
  gap: 80px;
}

.accordion-content__col:first-child {
  max-width: 507px;
  width: 100%;
}

.accordion-content__title {
  color: rgba(206, 170, 208, 1);
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.accordion-content__list {}

.accordion-content__item {
  margin-bottom: 20px;
  display: flex;
}

.accordion-content__item:last-child {
  margin-bottom: 0px;
}

.accordion-content__icon {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(206, 170, 208, 1);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  flex-shrink: 0;
}

.accordion-content__text {
  max-width: 274px;
}

.program__tab-content {
  margin-bottom: 40px;
}

.program__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.program__action {
  display: grid;
  grid-template: repeat(3, auto)/1.65fr 1fr;
  gap: 40px;
  max-width: 501px;
  flex-shrink: 0;
  width: 100%;
}

.program__discount {
  grid-row: 1/3;
  border-radius: 20px;
  background: rgba(255, 224, 203, 1);
  font-size: 20px;
  padding: 40px;
}

.program__discount-value {
  color: var(--accent-color);
  font-family: 'Gabriola';
  font-size: 74px;
  line-height: 82%;
  text-align: center;
  margin-bottom: 7px;
  animation: value_size 1s infinite alternate;
}

.program__discount span {
  font-size: 16px;
  margin-left: 40%;
}

.program__price {}

.program__price-text {
  color: rgba(206, 170, 208, 1);
  text-align: left;
  text-transform: uppercase;
  line-height: 1.6;
}

.program__price-value {
  font-family: Gabriola;
  font-size: 32px;
  font-weight: 400;
  line-height: 90%;
}

.second {
  font-size: 50px;
  color: var(--general-text);
}

.program__button {
  grid-column: 1/-1;
  font-weight: 500;
}

.program__img img {
  width: 100%;
}

@keyframes value_size {
  0% {
    font-size: 74px;
    color: var(--accent-color);
  }

  100% {
    font-size: 82.22px;
    color: rgba(255, 145, 56, 1);
    transform: translateX(3%);
  }
}

/* ========================================= */

.footer {
  background: rgba(171, 130, 97, 1);
  padding: 60px 0px 67px 0px;
  color: var(--general-bg);
}

.footer__inner {
  display: grid;
  grid-template-columns: .9fr .9fr 1.1fr auto;
  gap: 40px 15px;
}

.footer__col:first-child {
  margin-top: -30px;
}

.footer__logo {
  display: block;
  max-width: 240px;
}

.footer__logo img {
  width: 100%;
}

.footer__logo-text {
  margin-bottom: 20px;
}

.footer__col-list {
  margin-top: -5px;
}

.footer__col-item {
  margin-bottom: 10px;
}

.footer__col-item:last-child {
  margin-bottom: 0px;
}

.footer__col-link {
  padding: 5px 0;
  position: relative;
  z-index: 1;
  transition: var(--transition);
}

.footer__col-link::before {
  content: '';
  position: absolute;
  top: -11px;
  left: -13px;
  width: 34px;
  height: 34px;
  background: var(--accent-color);
  border-radius: 40px;
  z-index: -1;
  opacity: 0;
  transition: all .5s;
}

.footer__col-link:hover::before {
  opacity: 1;
}

.footer__contact-item {
  margin-bottom: 10px;
}

.footer__contact-item:last-child {
  margin-bottom: 0px;
}

.footer__col-tel {
  margin-bottom: 47px;
}

.footer__col-number {
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
  transition: var(--transition);
}

.footer__col-number:hover {
  color: var(--accent-color);
}

.footer__col-copyright {
  color: rgba(222, 197, 177, 1);
}

.socials {
  line-height: 0;
}

.socials__list {
  display: flex;
  gap: 15px;
}

.socials__link path {
  transition: var(--transition);
}

.socials__link:hover path {
  fill: var(--accent-color);
}

/* ========================================= */

@media(max-width: 1200px) {
  .hero__img {
    margin-right: 0;
    max-width: 377px;
  }

  .hero__img-control {
    display: flex;
    position: static;
    align-items: center;
    max-width: none;
    margin-top: 20px;
  }

  .hero__img-control--mobile {
    display: none;
  }

  /* -------------------------- */

  .footer__inner {
    justify-content: space-between;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, auto);
  }

  .footer__col:last-child {
    text-align: center;
    grid-column: 1/-1;
  }

  .footer__col:nth-child(2) {
    text-align: center;
  }

  /* -------------------------- */

  .tab-controls {
    flex-wrap: wrap;
  }
}

@media(max-width:1100px) {
  .about__img {
    grid-row: auto;
  }

  .about__grid {
    grid-column: 1/-1;
  }

  .about__body {
    align-self: center;
  }

  /* -------------------------- */

  .program__top {
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
    align-items: center;
  }

  .program__title {
    text-align: center;
  }

  .accordion-list__control {
    padding: 25px 30px;
  }

  .accordion-llist__control-title {
    font-size: 35px;
  }

  .accordion-content {
    gap: 30px;
  }
}

@media(max-width: 900px) {
  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: var(--general-bg);
    padding: 26vh 15px 30px;
    font-size: 24px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .body--opened-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  .burger-icon {
    display: flex;
  }

  /* ----------------------- */
  .footer__inner {
    justify-content: center;
    grid-template: none;
    text-align: center;
    gap: 0px;
  }

  .footer__col:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .footer__col:nth-child(2) {
    margin-bottom: 40px;
  }

  .footer__col:nth-child(3) {
    margin-bottom: 10px;
  }

  /* ----------------------- */

  .accordion-content {
    flex-direction: column;
  }

  .accordion-content__col:first-child {
    max-width: none;
  }

  .accordion-content__text {
    max-width: none;
  }

  .program__bottom {
    display: block;
    gap: 0;
  }

  .program__img {
    display: none;
  }

  .program__action {
    grid-template: repeat(3, auto)/minmax(287px, 1fr) 1fr;
    max-width: none;
  }

}

@media(max-width: 800px) {
  .hero__img {
    display: none;
  }

  .hero__img-control--mobile {
    display: flex;
    margin: 0 0 30px;
    text-align: left;
  }

  .hero__content {
    text-align: center;
    max-width: none;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
  }

  /* ---------------- */

  .about__inner {
    grid-template: none;
  }

  .about__img {
    max-width: 500px;
    justify-self: center;
  }

  .about__grid {
    grid-template: none;
  }

  /* ---------------- */

  .tab-controls {
    gap: 15px;
    justify-content: center;
  }

  .tab-control__link {
    padding: 6px 20px;
  }

  .accordion-content__item {
    text-align: left;
  }

  .accordion-content__title {
    text-align: left;
  }

  .accordion-content__text {
    text-align: left;
  }
}

@media (max-width: 600px) {

  .main__about {
    padding: 60px 0px 80px;
    margin: 40px 0px;
  }

  /* ------------------ */
  .title {
    font-size: 12vw;
  }

  .hero {
    padding: 50px 0 80px;
  }

  .about__grid-item {
    padding: 10px 15px;
  }

  .about__grid {
    gap: 15px;
  }

  .about__img-control {
    bottom: 0;
    left: 0;
    right: 0;
    max-width: none;
    border-radius: 0px;
    padding: 10px 15px;
  }

  .accordino-list__control {
    padding: 17px 30px;
    font-size: 28px;
  }

  .accordion-llist__control-title {
    font-size: 28px;
  }

  .accordino-list__control-icon {
    height: 26px;
    width: 26px;
  }

  .accordino-list__control-icon svg {
    width: 10px;
  }

  .accordion-list__item {
    margin-bottom: 20px;
  }

  .program__discount {
    grid-column: 1/-1;
    grid-row: auto;
    justify-self: center;
  }

  .program__action {
    grid-template: repeat(3, auto)/1fr 1fr;
    gap: 15px;
  }

  .program__top {
    margin-bottom: 30px;
  }

  .main__program {
    padding-bottom: 80px;
  }
}

@media (max-width: 450px) {
  .main__about {
    margin: 0px 0px;
  }

  .modal__window {
    padding: 0 15px 45px;
  }

  .modal__img {
    width: 50%;
    margin-top: -45px;
  }

  .modal__title {
    font-size: 35px;
  }

  /* ---------------- */

  .accordion-list__control {
    padding: 17px 15px;
  }

  .accordion-content {
    padding: 0 15px 30px;
  }

  .accordion-content__item {
    margin-bottom: 10px;
  }

  .accordion-content__title {
    margin-bottom: 10px;
  }

  .program__action {
    grid-template: none;
    text-align: center;
  }

  .program__discount {
    text-align: left;
  }

  .program__price-text {
    text-align: center;
  }

}