/* ============================== ROOT ============================== */
/* ============================== ROOT ============================== */



/* ============================== GLOBAL ============================== */
/* ============================== GLOBAL ============================== */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5vw;
}

.body {
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  font-family: "Avenir Next Cyr";
  background: linear-gradient(-47.00deg, rgba(1.77083420753479, 34.63749313354492, 53.125, 1), rgba(4.050780296325684, 57.52109909057617, 64.8125, 1) 100%);
  font-size: 15px;
  font-style: normal;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0 auto;
  height: 100%;
}