body{
  background: rgb(58, 58, 58);
  color: white;
}
p{
  font-weight: 700;
  font-size:xx-large;
}
.block{
  position: fixed;
  height: 100px;
  background: white;
  border-radius: 10px;
  left: 50%;
  right: 50px;
  bottom: 100px;
}
.boll{
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background: rgb(255, 80, 80);
  position: relative;
  bottom: 50px;
  left: 40px;
}
