.child{
  background: #ce9760;
  width: 180px;
  height: 150px;
  padding: 15px;
  border-radius: 20px;
  display: inline-block;
  margin: 7px;
  box-shadow: inset 2px 2px 8px black;

}
.parent{
  width: 950px;
  height: 400px;
  background-color: #c4c4c4;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #000;
  overflow: auto;
}