body {
  line-height: 125%;
  color: var(--Наборный, rgba(37, 40, 43, 1));
  font-family: "Montserrat", "Arial", sans-serif;
  background: var(--Фон, rgba(248, 252, 255, 1));
}

.header {
  /* min-height: 108px; */
  line-height: 1.5;
}

.container {
  max-width: 1215px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.header__inner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 15px;
  min-height: 108px;
  align-content: center;
  align-items: center;
}

.header__socials {
  justify-self: end;
}

.nav__list {
  display: flex;
  gap: 10px 30px;
  flex-wrap: wrap;
}

.hedder__img {
  max-width: 54px;
}

.socials {
  display: flex;
  gap: 10px 30px;
  flex-wrap: wrap;
}

/* ----------------------------- */
.hero {
  padding: 120px 0px;
  line-height: 1.5;
  color: var(--Фон, rgba(248, 252, 255, 1));
  position: relative;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  margin-bottom: 30px;
  font-size: 52px;
  font-weight: 600;
}

.hero__list {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 40px;
}

.hero__list-item {
  display: flex;
  margin-bottom: 15px;
  transition: all 0.5s;
}

.hero__list-item:last-child {
  margin-bottom: 0px;
}

.hero__list-item:hover {
  color: rgb(131, 173, 211);
}

.hero__list-img {
  margin-right: 19px;
}

.button {
  font-weight: 500;
  line-height: 100%;
  color: var(--Синий, rgba(29, 111, 182, 1));
  text-align: center;
  max-width: 288px;
  height: 56px;
  border-radius: 100px;
  background: var(--серый, #d0dce7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hero__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__video::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #102e49cc;
}

.button:hover {
  background: rgba(131, 173, 211, 1);
  color: var(--Фон, rgba(248, 252, 255, 1));
}

/* ------------------------ */
.main__general {
  padding: 120px 0px;
}
.main__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: start;
}
.main__sidebar{
  position: sticky;
  top: 5vh;
}
.sidebar {
  line-height: 20px;
  border: 2px solid var(--серый, rgba(208, 220, 231, 1));
  padding: 30px;
  max-width: 282px;
  width: 100%;
  font-weight: 500;
  min-height: 60vh;
}
.sidebar__item {
  margin-bottom: 20px;
}
.sidebar__item:last-child {
  margin-bottom: 0px;
}
/* ------------------ */
.main__body {
  width: 100%;
  max-width: 792px;
}
.main__gallery{
  margin-bottom: 120px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 24px;
  grid-auto-flow: dense;
  line-height: 100%;
  font-weight: 500;
  color: var(--Фон, rgba(248, 252, 255, 1));
}
.gallery__img{
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}
.gallery__img img{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.gallery__img--large--left{
  grid-column: 1/3;
  grid-row: span 2;
}
.gallery__img--large--right{
  grid-column: -1/-3;
  grid-row: span 2;
}
.gallery__hint{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(29, 111, 182, 0.7);
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.5s;
}
.gallery__img:hover .gallery__hint{
  opacity: 1;
  transform: translateY(0%);
}
.gallery__img--large--left .gallery__hint{
  height: 103px;
  font-size: 24px;
}
.gallery__img--large--right .gallery__hint{
  height: 103px;
  font-size: 24px;
  line-height: 29px;
}
/* ----------------------- */
.products {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.products__item {
}
.products__item-img{
  position: relative;
  padding-bottom: 62%;
}
.products__item-badge{
  position: absolute;
  left: 0;
  top: 12.6%;
  border-radius: 0px 100px 100px 0px;
  background: var(--Фон, rgba(248, 252, 255, 1));
  padding: 18px 15px;
  color: var(--Синий, rgba(29, 111, 182, 1));
  min-width: 33.9%;
  text-align: center;
  line-height: 20px;
  font-weight: 500;
  animation: badge-action 2s infinite alternate;
}
@keyframes badge-action{
  0%{
    min-width: 33.9%;
  }
  66.666%{
    min-width: 33.9%;
  }
  100%{
    min-width: 37.3%;
  }
}
.products__item-img img{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.products__item-body{
  border: 1px solid var(--серый, rgba(208, 220, 231, 1));
  border-top: none;
  padding: 30px 15px;
}
.products__item-button{
  margin: 0 auto;
}
/* ----------------- */
.footer{
  text-align: center;
  background: rgba(120, 128, 136, 1);
  color: var(--Фон, rgba(248, 252, 255, 1));
  padding: 30px 0px;
  line-height: 20px;
}
.footer img{
  vertical-align: sub;
}