/* ============================== HEADER ============================== */
/* ============================== HEADER ============================== */

.header {
  background: url(../img/decor/bg-header.png) 50% 100% / cover no-repeat;
}

.header__top-inner {
  padding-top: 19px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header__logo {
  max-width: 174px;
  z-index: 11;
}

.header__logo img {
  width: 100%;
}

.nav__list {
  display: flex;
  gap: 4vh 40px;
}

.nav__link {
  padding: 5px 0px;
  position: relative;
  z-index: 1;
}

.burger-icon {
  display: none;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
}

.burger-icon span {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: var(--general-text);
  position: relative;
  z-index: 11;
  transition: var(--transition);
}

.burger-icon span::before,
.burger-icon span::after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: var(--general-text);
  position: absolute;
  transition: var(--transition);
}

.burger-icon span::before {
  top: -8px;
}

.burger-icon span::after {
  bottom: -8px;
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(50deg);
}

.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-50deg);
}


.nav__link::before {
  content: '';
  position: absolute;
  top: -11px;
  left: -13px;
  width: 34px;
  height: 34px;
  background: var(--accent-color);
  border-radius: 40px;
  z-index: -1;
  opacity: 0;
  transition: all .5s;
}

.nav__link:hover::before {
  opacity: 1;
}

/* ============================== HERO ============================== */
/* ============================== HERO ============================== */

.hero {
  padding: 50px 0px 140px;
}

.hero__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
}

.hero__content {
  max-width: 520px;
}

.hero__info {
  color: #b197b3;
  text-transform: uppercase;
  line-height: 1.6;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.hero__info span {
  display: flex;
  align-items: center;
}

.hero__info span::after {
  content: '';
  background: #b197b3;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  margin: 0px 10px;
  display: block;
}

.hero__info span:last-child::after {
  content: none;
}

.hero__title {
  margin-bottom: 30px;
}

.hero__text {
  margin-bottom: 40px;
  max-width: 360px;
  font-size: 16px;
  font-weight: 400;
}

.hero__button {
  max-width: 360px;
  width: 100%;
}

.hero__img {
  margin-right: 247px;
  position: relative;
}

.hero__img>img {
  width: 100%;
}

.hero__img-control {
  display: flex;
  position: absolute;
  gap: 10px;
  align-items: center;
  max-width: 200px;
  bottom: 11%;
  left: 90%;
}

.hero__img-control--mobile {
  display: none;
}

.hero__img-button {
  flex-shrink: 0;
  border-radius: 50%;
  box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
  background: rgba(255, 224, 203, 1);
  width: 78px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero__img-button::before {
  content: '';
  position: absolute;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  inset: 5px;
  opacity: 0;
  transition: all .5s;
}

.hero__img-button:hover::before {
  opacity: 1;
}