@import "reset.css";
@import "fonts.css";
@import "global.css";
@import "header.css";
@import "main.css";
@import "footer.css";

/* ============================== MEDIA ============================== */
/* ============================== MEDIA ============================== */

/* ============================== 1200 ============================== */

@media(max-width: 1200px) {

  /* ==================== HERO ==================== */

  .hero__img {
    margin-right: 0;
    max-width: 377px;
  }

  .hero__img-control {
    display: flex;
    position: static;
    align-items: center;
    max-width: none;
    margin-top: 20px;
  }

  .hero__img-control--mobile {
    display: none;
  }


  /* ==================== PROGRAM ==================== */

  .tab-controls {
    flex-wrap: wrap;
  }

  /* ==================== CONTACT ==================== */
  .contact__inner::after {
    top: -15%;
  }

  /* ==================== FOOTER ==================== */

  .footer__inner {
    justify-content: space-between;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, auto);
  }

  .footer__col:last-child {
    text-align: center;
    grid-column: 1/-1;
  }

  .footer__col:nth-child(2) {
    text-align: center;
  }

}

/* ============================== 1100 ============================== */

@media(max-width:1100px) {

  /* ==================== ABOUT ==================== */

  .about__img {
    grid-row: auto;
  }

  .about__grid {
    grid-column: 1/-1;
  }

  .about__body {
    align-self: center;
  }

  /* ==================== PROGRAM ==================== */

  .program__top {
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
    align-items: center;
  }

  .program__title {
    text-align: center;
  }

  .accordion-list__control {
    padding: 25px 30px;
  }

  .accordion-llist__control-title {
    font-size: 35px;
  }

  .accordion-content {
    gap: 30px;
  }

  /* ==================== CONTACT ==================== */

  .contact__inner {
    align-items: center;
    gap: 30px;
  }

}

/* ============================== 900 ============================== */

@media(max-width: 900px) {

  /* ==================== HEADER ==================== */

  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: var(--general-bg);
    padding: 26vh 15px 30px;
    font-size: 24px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .body--opened-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  .burger-icon {
    display: flex;
  }


  /* ==================== PROGRAM ==================== */

  .accordion-content {
    flex-direction: column;
  }

  .accordion-content__col:first-child {
    max-width: none;
  }

  .accordion-content__text {
    max-width: none;
  }

  .program__bottom {
    display: block;
    gap: 0;
  }

  .program__img {
    display: none;
  }

  .program__action {
    grid-template: repeat(3, auto)/minmax(287px, 1fr) 1fr;
    max-width: none;
  }

  /* ==================== GALLERY ==================== */

  .gallery__img {
    display: none;
  }

  .gallery__inner {
    grid-template-columns: 1fr;
  }

  .gallery__info {
    max-width: none;
  }

  /* ==================== REVIEWS ==================== */

  .reviews__scrollbar.swiper-scrollbar {
    width: 50%;
    margin: 0 auto;
  }

  /* ==================== CONTACT ==================== */

  .contact__img {
    display: none;
  }

  .contact__inner {
    justify-content: center;
  }

  .contact__inner::before {
    top: 82%;
  }

  /* ==================== FOOTER ==================== */

  .footer__inner {
    justify-content: center;
    grid-template: none;
    text-align: center;
    gap: 0px;
  }

  .footer__col:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .footer__col:nth-child(2) {
    margin-bottom: 40px;
  }

  .footer__col:nth-child(3) {
    margin-bottom: 10px;
  }

}

/* ============================== 800 ============================== */

@media(max-width: 800px) {

  /* ==================== HERO ==================== */

  .hero__img {
    display: none;
  }

  .hero__img-control--mobile {
    display: flex;
    margin: 0 0 30px;
    text-align: left;
  }

  .hero__content {
    text-align: center;
    max-width: none;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
  }

  /* ==================== ABOUT ==================== */

  .about__inner {
    grid-template: none;
  }

  .about__img {
    max-width: 500px;
    justify-self: center;
  }

  .about__grid {
    grid-template: none;
  }

  /* ==================== PROGRAM ==================== */

  .tab-controls {
    gap: 15px;
    justify-content: center;
  }

  .tab-control__link {
    padding: 6px 20px;
  }

  .accordion-content__item {
    text-align: left;
  }

  .accordion-content__title {
    text-align: left;
  }

  .accordion-content__text {
    text-align: left;
  }

  /* ==================== REVIEWS ==================== */

  .reviews__inner {
    flex-direction: column;
    align-items: stretch;
  }

  /* ==================== CONTACT ==================== */

  .contact__inner::before {
    display: none;
  }

}

/* ============================== 600 ============================== */

@media (max-width: 600px) {

  /* ==================== MAIN ==================== */

  .main__about {
    padding: 60px 0px 80px;
    margin: 40px 0px;
  }

  .main__gallery,
  .main__program,
  .main__reviews {
    padding: 0 0 80px;
  }

  .title {
    font-size: 12vw;
  }

  /* ==================== HERO ==================== */

  .hero {
    padding: 50px 0 80px;
  }

  /* ==================== ABOUT ==================== */

  .about__grid-item {
    padding: 10px 15px;
  }

  .about__grid {
    gap: 15px;
  }

  .about__img-control {
    bottom: 0;
    left: 0;
    right: 0;
    max-width: none;
    border-radius: 0px;
    padding: 10px 15px;
  }

  /* ==================== PROGRAM ==================== */

  .accordino-list__control {
    padding: 17px 30px;
    font-size: 28px;
  }

  .accordion-llist__control-title {
    font-size: 28px;
  }

  .accordino-list__control-icon {
    height: 26px;
    width: 26px;
  }

  .accordino-list__control-icon svg {
    width: 10px;
  }

  .accordion-list__item {
    margin-bottom: 20px;
  }

  .program__discount {
    grid-column: 1/-1;
    grid-row: auto;
    justify-self: center;
  }

  .program__action {
    grid-template: repeat(3, auto)/1fr 1fr;
    gap: 15px;
  }

  .program__top {
    margin-bottom: 30px;
  }

  /* ==================== GALLERY ==================== */

  .gallery__nav {
    gap: 68px;
  }

  .gallery__content {
    flex-direction: column;
    gap: 20px 15px;
  }

  .gallery__inner {
    margin-bottom: 20px;
  }

  .gallery__prev {
    width: 30px;
    height: 30px;
  }

  .swiper-pagination-current {
    font-style: 34px;
  }

  .swiper-pagination-total {
    font-size: 34px;
  }

  .gallery__next {
    width: 30px;
    height: 30px;
  }

  /* ==================== REVIEWS ==================== */

  .reviews__slide {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .reviews__inner {
    margin-bottom: 20px;
  }

  /* ==================== CONTACT ==================== */

  .contact {
    padding-bottom: 80px;
  }

  .contact__title,
  .contact__text {
    text-align: center;
  }

  .contact__inner::after {
    top: -20%;
  }

}

/* ============================== 450 ============================== */

@media (max-width: 450px) {

  /* ==================== ABOUT ==================== */

  .main__about {
    margin: 0px 0px;
  }

  .modal__window {
    padding: 0 15px 45px;
  }

  .modal__img {
    width: 50%;
    margin-top: -45px;
  }

  .modal__title {
    font-size: 35px;
  }

  /* ==================== PROGRAM ==================== */

  .accordion-list__control {
    padding: 17px 15px;
  }

  .accordion-content {
    padding: 0 15px 30px;
  }

  .accordion-content__item {
    margin-bottom: 10px;
  }

  .accordion-content__title {
    margin-bottom: 10px;
  }

  .program__action {
    grid-template: none;
    text-align: center;
  }

  .program__discount {
    text-align: left;
  }

  .program__price-text {
    text-align: center;
  }

  /* ==================== GALLERY ==================== */

  .gallery__content {
    text-align: center;
  }

  /* ==================== REVIEWS ==================== */

  .reviews__slide {
    padding: 20px 10px 30px;
  }
}